.c-TeaserText__Topic, .c-TeaserText__Title, .c-TeaserText__Summary {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

.c-TeaserText__Topic--typography {
    color: #990f3d;
    font-weight: bold;
}

.c-TeaserText__Title--typography {
    font-size: 1.15rem;
    color: #000;
}

.c-TeaserText__Summary--typography {
    color: #66605c;
}