.Footer__CompanyDetails {
    margin-bottom: 1rem;
    padding: 1rem 0;

    color: white;
    font-weight: bold;

    border-top: 0.1rem solid #51555c;
    border-bottom: 0.1rem solid #51555c;

    a {
        color: white;
    }

}